.doneBtn {
    margin-top: 0px;
    margin-bottom: 4px;
}

.nlink {
    color: #fff;
    text-decoration: none;
}

.nlink:hover {
    color: rgb(145, 145, 145);
    text-decoration: none;
}

.navbar-middle {
    line-height: 48px;
    margin: 0px;
    font-size: 2em;
    color: #fff;
}