<ActionBar title="AGBooks">
    <NavigationButton ios:visibility="collapsed" [icon]="viewOrderList ? 'res://menu' : 'res://ic_action_arrow_back'" (tap)="toggleMenu.emit()"></NavigationButton>

    <GridLayout columns="*, 60" *ngIf="viewOrderList">
        <Label col="0" class="headline" text="AGBooks"></Label>
    </GridLayout>


    <GridLayout [columns]="!currentOrder.user.orderDone || (currentOrder.user.orderDone && !currentOrder.user.orderAccepted) ? '*, 60, 60, 60' : '*, 0, 60, 60'" *ngIf="currentOrder && currentOrder.user && currentOrder.user.grade && !viewOrderList">
        <Label row="0" class="" textWrap="true" [text]="currentOrder.user.grade + (currentOrder.user.course ? ' ' + currentOrder.user.course + ' ' : '') + ' (' + currentOrder.user.room+ ')\n' +currentOrder.user.teacher "></Label>
        <Button *ngIf="!currentOrder.user.orderDone" col="1" color="#44d91a" (tap)="orderDone.emit()" text="check" class="fas bg-primary actionItemButton"></Button>
        <Button *ngIf="currentOrder.user.orderDone && !currentOrder.user.orderAccepted" col="1" color="#fbd238" (tap)="orderAccepted.emit()" text="user-check" class="fas bg-primary actionItemButton"></Button>
        <Button (tap)="getHandoverCodeForOrder.emit()" color="#00d0ff" col="2" text="handshake" class="fas bg-primary actionItemButton"></Button>
        <Button (tap)="deleteOrder.emit()" text="trash" color="#dc3545" col="3" class="fas bg-primary actionItemButton"></Button>
    </GridLayout>

</ActionBar>