.selected {
    background-color: rgb(159, 235, 157);
}

.navbar-middle {
    line-height: 48px;
    margin: 0px;
    font-size: 2em;
    color: #fff;
}

.bookinfo-heading span {
    font-size: 2rem;
    text-decoration: underline;
}

.bookinfo-heading small {
    font-size: 1.2rem;
}

.bookinfo-number {
    font-size: 5em;
    color: rgb(33, 154, 190);
}

.doneBtn {
    margin-top: 0px;
    margin-bottom: 4px;
}

.nlink {
    color: #fff;
    text-decoration: none;
}

.nlink:hover {
    color: rgb(145, 145, 145);
    text-decoration: none;
}