.selected {
    background-color: rgb(159, 235, 157);
}

.bookinfo-heading span {
    text-decoration: underline;
}

.accepted {
    background-color: rgba(18, 156, 110, 0.5);
}

.done {
    background-color: rgba(16, 218, 76, 0.5);
}