<GridLayout rows="50, *">
    <GridLayout row="0" rows="auto, auto" columns="50, *, auto, auto, auto" class="fake-action-bar">
        <Button row="0" col="0" rowspan="2" class="fas" [text]="viewOrderList ? 'bars' : 'arrow-left'" (tap)="viewOrderList ? onDrawerButtonTap() : (viewOrderList = true)"></Button>
        <ng-container *ngIf="currentOrder && currentOrder.user && currentOrder.user.grade && !viewOrderList">
            <Label row="0" col="1" class="h3" [text]="currentOrder.user.grade + (currentOrder.user.course ? ' ' + currentOrder.user.course + ' ' : '') + ' (' + currentOrder.user.room+ ')'"></Label>
            <Label row="2" col="1" class="h3" [text]="currentOrder.user.teacher"></Label>
            <Button *ngIf="!currentOrder.user.orderDone" color="#44d91a" (tap)="orderDone()" text="check" class="fas" row="0" rowspan="2" col="2"></Button>
            <Button *ngIf="currentOrder.user.orderDone && !currentOrder.user.orderAccepted" color="#fbd238" (tap)="orderAccepted()" text="user-check" class="fas" row="0" rowspan="2" col="2"></Button>
            <Button (tap)="getHandoverCodeForOrder()" color="#00d0ff" text="handshake" class="fas" row="0" rowspan="2" col="3"></Button>
            <Button (tap)="deleteOrder()" text="trash" color="#dc3545" class="fas" row="0" rowspan="2" col="4"></Button>
        </ng-container>
        <Label row="0" col="1" rowspan="2" class="h2 single-headline" *ngIf="!currentOrder || !currentOrder.user || !currentOrder.user.grade || viewOrderList" text="AGBooks"></Label>
    </GridLayout>
    <ListView row="1" *ngIf="viewOrderList" [items]="orders.concat(doneOrders).concat(acceptedOrders)" class="list-group">
        <ng-template let-order="item">
            <GridLayout rows="auto, auto" columns="80, *, 80" class="list-group-item" (tap)="setCurrentOrder(order)" [class.done]="order.user.orderDone && !order.user.orderAccepted" [class.accepted]="order.user.orderAccepted">
                <Label row="0" col="0" rowspan="2" class="h1" [text]="order.user.grade ? order.user.grade : order.user.course"></Label>
                <Label row="0" col="1" class="h3 p-y-0 m-y-0" textDecoration="underline" [text]="order.user.teacher"></Label>
                <Label row="1" col="1" class="h3 p-y-0 m-y-0" [text]="'Klassenstärke: ' + order.user.classSize"></Label>
                <Label row="0" col="2" rowspan="2" class="h2" [text]="order.user.room"></Label>
            </GridLayout>
        </ng-template>
    </ListView>

    <ListView row="1" *ngIf="currentOrder && !viewOrderList" [items]="currentOrder.books" class="list-group">
        <ng-template let-book="item">
            <GridLayout rows="auto, auto" columns="*, auto" class="list-group-item" (tap)="book.selected = !book.selected" [class.selected]="book.selected">
                <Label *ngIf="book" row="0" col="0" class="h2 p-y-0 m-y-0" textDecoration="underline" [text]="book.subject"></Label>
                <Label *ngIf="book" row="1" col="0" class="h2 p-y-0 m-y-0" fontWeight="bold" [text]="book.name"></Label>
                <Label *ngIf="book" row="0" col="1" rowspan="2" class="h1" [text]="book.number"></Label>
            </GridLayout>
        </ng-template>
    </ListView>
</GridLayout>