<h1>Bestellung bestätigt</h1>
<br />
<div class="alert alert-info">
    Bitte kommen Sie <b>jetzt</b> mit der <b>gesamten Klasse</b> zur Lehrmittelbücherei (Raum 332).<br /><br /> Wenn Sie mit allen Büchern wieder im Klassenzimmer sind, <b>beachten Sie die Hinweise auf der Powerpoint.</b><br><br>
</div>
<div class="alert alert-success">
    Herzlichen Dank für Ihre Hilfe und Unterstützung!
    <br><br>André Hartmann und Kathrin Styra
</div>
<div class="alert alert-info">
    Die Bücherausgabe ist abgeschlossen, Sie können den Browser nun schließen.
</div>