@import "~@nativescript/theme/css/core.css";
@import "~@nativescript/theme/css/blue.css";
* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.action-bar {
    background-color: #2b669a;
    color: white;
}

.action-bar-small {
    font-size: 10;
}

.headline {
    font-size: 22;
}