<RadSideDrawer #rsd [drawerTransition]="sideDrawerTransition">
    <GridLayout tkDrawerContent rows="*" class="sidedrawer sidedrawer-left">
        <ScrollView row="0">
            <StackLayout class="sidedrawer-content">
                <GridLayout columns="auto, *" class="sidedrawer-list-item infotext">
                    <Button col="1" class="p-r-10 sidedrawer-button">
            <FormattedString style="background-color: transparent;">
              <Span text="Warteschlange"></Span>
            </FormattedString>
          </Button>
                </GridLayout>
                <StackLayout class="hr hr-light"></StackLayout>

                <GridLayout *ngFor="let order of orders" columns="auto, *" class="sidedrawer-list-item" nsRouterLinkActive="active">
                    <Button col="1" pageTransition="fade" [nsRouterLink]="['/dashboard/queue/'+order.id]" (tap)="hideDrawer()" class="p-r-10 sidedrawer-button">
            <FormattedString style="background-color: transparent;">
              <Span
                [text]="order.user.grade + ' ' +order.user.course + ' - ' + order.user.teacher + ' - Raum ' + order.user.room"></Span>
            </FormattedString>
          </Button>
                </GridLayout>

                <GridLayout columns="auto, *" class="sidedrawer-list-item infotext">
                    <Button col="1" class="p-r-10 sidedrawer-button">
            <FormattedString style="background-color: transparent;">
              <Span text="Abgeschickt"></Span>
            </FormattedString>
          </Button>
                </GridLayout>
                <StackLayout class="hr hr-light"></StackLayout>

                <GridLayout *ngFor="let order of doneOrders" columns="auto, *" class="sidedrawer-list-item" nsRouterLinkActive="active">
                    <Button col="1" pageTransition="fade" [nsRouterLink]="['/dashboard/done/'+order.id]" (tap)="hideDrawer()" class="p-r-10 sidedrawer-button">
            <FormattedString style="background-color: transparent;">
              <Span
                [text]="order.user.grade + ' ' +order.user.course + ' - ' + order.user.teacher + ' - Raum ' + order.user.room"></Span>
            </FormattedString>
          </Button>
                </GridLayout>

                <GridLayout columns="auto, *" class="sidedrawer-list-item infotext">
                    <Button col="1" class="p-r-10 sidedrawer-button">
      <FormattedString style="background-color: transparent;">
        <Span text="Akzeptiert"></Span>
      </FormattedString>
    </Button>
                </GridLayout>
                <StackLayout class="hr hr-light"></StackLayout>

                <GridLayout *ngFor="let order of acceptedOrders" columns="auto, *" class="sidedrawer-list-item" nsRouterLinkActive="active">
                    <Button col="1" pageTransition="fade" [nsRouterLink]="['/dashboard/accepted/'+order.id]" (tap)="hideDrawer()" class="p-r-10 sidedrawer-button">
      <FormattedString style="background-color: transparent;">
        <Span
          [text]="order.user.grade + ' ' +order.user.course + ' - ' + order.user.teacher + ' - Raum ' + order.user.room"></Span>
      </FormattedString>
    </Button>
                </GridLayout>

            </StackLayout>
        </ScrollView>
    </GridLayout>

    <page-router-outlet tkMainContent class="page page-content"></page-router-outlet>
</RadSideDrawer>