<!--<div class="container">
  <button *ngIf="!showPrintOnly" (click)="print()" class="float-right btn btn-success m-3">Drucken</button>
  <a *ngIf="!showPrintOnly" routerLink="/dashboard" class="float-right btn btn-primary m-3">Zurück</a>
  
  
  
  <h1>Auswertung | AGBooks</h1>
  
  <h3>Schuljahr {{year}}</h3>
  <h4>Insgesamt ausgeteilte Bücher: {{totalBooks}}</h4>
  <br><br>
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <td></td>
        <td *ngFor="let grade of grades"><h5>{{grade}}</h5></td>
      </tr>
      <tr>
        <td>Gesamt:</td>
        <td *ngFor="let number of total">{{number}}</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data; index as ir">
        <td>{{subjects[ir]}}</td>
        <td *ngFor="let cell of row">
            <ng-container *ngFor="let booknumber of cell; index as ib">
              <div *ngIf="booknumber">
                <span class="d-block">{{books[ib]}}</span>
                <b>{{booknumber}}</b>
              </div>
            </ng-container>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr></tr>
    </tfoot>
  </table>
</div>
-->
<Label text="analysis"></Label>