<p *ngIf="!registrationDone">
  Registrierung beim Server...<br>Bitte warten...
</p>
<div *ngIf="registrationDone">
  <h1>AG-Books</h1>
  <br>
  <small>Die Lehrmittelverwaltungsapp für das AG</small>
  <br><br>
  <p>Blindtext, blablabla. Blindtext, blablabla. Blindtext, blablabla. Blindtext, blablabla. Blindtext, blablabla. Blindtext, blablabla. Blindtext, blablabla. Blindtext, blablabla. Blindtext, blablabla. Blindtext, blablabla. Blindtext, blablabla. Blindtext, blablabla. Blindtext, blablabla. Blindtext, blablabla. Blindtext, blablabla. Blindtext, blablabla. Blindtext, blablabla. Blindtext, blablabla. Blindtext, blablabla. Blindtext, blablabla.</p>
  <br>
  <div class="row">
    <div class="col-12">
      <button class="btn btn-primary d-block float-right" (click)="next()">Weiter</button>
    </div>
  </div>
  
  
</div>