<p *ngIf="!registrationDone">
  Registrierung beim Server...<br />Bitte warten...
</p>
<div *ngIf="registrationDone">
  <h1>AG-Books</h1>
  <br />
  <small>Die Lehrmittelverwaltungsapp für das AG</small>
  <br /><br />
  <p>
    Blindtext, blablabla. Blindtext, blablabla. Blindtext, blablabla. Blindtext,
    blablabla. Blindtext, blablabla. Blindtext, blablabla. Blindtext, blablabla.
    Blindtext, blablabla. Blindtext, blablabla. Blindtext, blablabla. Blindtext,
    blablabla. Blindtext, blablabla. Blindtext, blablabla. Blindtext, blablabla.
    Blindtext, blablabla. Blindtext, blablabla. Blindtext, blablabla. Blindtext,
    blablabla. Blindtext, blablabla. Blindtext, blablabla.
  </p>
  <br />
  Ich möchte
  <a routerLink="/step/2">eine neue Sitzung aufmachen</a> order
  <a routerLink="/takeover">eine Sitzung von jemand anderem übernehmen</a>
</div>
